.header{
  background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url("images/bg.jpg");
  background-position: center;
  box-shadow: 0px 14px 15px rgba(0,0,0,0.8);
  .container{
    position: relative;
    .btn{
      background-color: #2d4196;
      color: #fff;
    }
    .nav-item{
      padding: 0 12px;
      .nav-link{
        font-size: 16px;;
        color: #fff;
        font-weight: bold;
      }
    }
    .dropdown{
      .btn-secondary{
        background-color:transparent;
        border-color: transparent;
        outline-color: transparent;
      }
    }
    h1{
      color:#fff;
      font-size: 64px;
      font-weight: 600;
      line-height: 1.23;
      margin-top: 30px;
    }
    h5{
      color: #fff;
      margin: 30px 0 120px 0;
    }
    .avform{
      padding: 20px 10px;
      background-image: linear-gradient(rgba(168, 163, 163, 0.4), rgba(52, 49, 49, 0.4));
      border-radius: 10px;
      position: absolute;
      bottom: -70px;

      .form-group{
        color: #fff;
        font-size: 18px;
        font-weight: bold;
        width: 24%;
        .form-control{
          padding: 10px;
        }
      }
      .btn{
        padding: 9px;
        width: 24%;
        font-size: 18px;
        background-color: #2d4196;
        color: #fff;
      }
    }
  }
}
.Section1{
  .container{
    .row{
      text-align: center;
      margin-top: 80px;
      h1{
        font-size: 64px;
        color: #2d4196;
      }
      p{
        font-size: 18px;
        color: #807d7d;
      }
      .col-md-4{
        border-right: 2px solid #d2caca;
        h3{
          color:#2d4196;
        }
        p{
          font-size: 14px;
          margin-top: 25px;
        }
      }
      .col-md-4:nth-child(3){
        border-right: none;
      }
    }
  }
}
.Section2{
  background-color: #2d4196;
  .container{
    .row{
      .col-md-12{
        h1{
          font-size: 55px;
          color: #fff;
          margin-top: 50px;
        }
      }
      .col-md-3{
        padding: 0 20px;
        h1{
          font-size: 55px;
          color: #ffffff;
          margin-top: 50px;
        }
        div{
          width: 100%;
          height: 1px;
          background-color: #ff9c1b;
          margin: 20px 0;
        }
        p{
          font-size: 15px;
          font-weight: bold;
          color: #fff;
        }
      }
    }
  }
}
.Section3{
  .container{
    .row{
      text-align: center;
      margin-top: 80px;
      .col-lg-3{
        margin-bottom: 30px;
        .mainbox{
          position: relative;
          overflow: hidden;
          margin-bottom: 27px;
          .image-card {
            border-radius: 4px;
            width: 100%;
            height: 100%;
            transition: all 0.5s linear;
          }
          &:hover .image-card {
            box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.4);
            transform: scale(1.1);

          }
          .text{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(19, 26, 34, 0.5);
            padding: 5px 20px;
            p{
              color: #fff;
              font-size: 18px;
              font-weight: bold;
            }
          }
        }
      }
      .col-md-12{
        .signUp{
          border: 2px solid #2d4196;
          font-size: 20px;
          color: #2d4196;
        }
      }
      h1{
        font-size: 64px;
        color: #2d4196;
      }
      .btn{
        width: 30%;
        border: 1px solid #a19f9f;
        margin-top: 40px;
        padding: 10px 0;
        color: #343333;
        font-weight: bold;
        &:focus{
          background-color: #2d4196;
          color: #ffffff;
        }
      }
      p{
        font-size: 18px;
        margin: 40px 0;
        color: #807d7d;
      }
    }
  }
}